<div class="item">
    <div class="item__img">
        <div class="item__img__cover"><img class="item__img__cover__img" src="{{img}}" alt="{{name}}"></div>
        <div class="item__img__arr"></div>
    </div>
    <div class="item__info">
        <p class="item__info__descr">{{textSpan}}{{shortDescr}}</p>
        <p class="item__info__price">&#x20b4 {{price}}</p>
    </div>
</div>