<div class="item">
    <button class="item__btn" value="{{category}}">X</button>
    <div class="item__img">
        <div class="item__img__cover"><img class="item__img__cover__img" src="{{img}}" alt="{{name}}"></div>
        <div class="item__img__arr"></div>
    </div>
    <div class="item__info">
        <p class="item__info__name">{{name}}</p>
        <p class="item__info__idNum"><span>Артикул: </span>{{id}}</p>
        <p class="item__info__production"><span>Производитель: </span>{{production}}</p>
        <p class="item__info__model"><span>Модель: </span>{{model}}</p>
        <p class="item__info__price"><span>Цена: </span>&#x20b4 {{price}}</p>
        <p class="item__info__isEnable">{{isEnable}}</p>
        <p class="item__info__descr">{{fullDescr}}</p>
    </div>
</div>